name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] #[ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Build (Invoke-Build)
        # Use PowerShell Core on all platforms
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          # Ensure the build script is executable on Unix
          if ($IsLinux -or $IsMacOS) { chmod +x ./build.ps1 -ErrorAction SilentlyContinue }
          ./PSRedfishClient.Build.ps1 -Task build

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: PSRedFishClient-package
          path: artifacts/PSRedFishClient.zip
